<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.IRL.jump-in.helper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>com.IRL.jump-in.helper</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
        <key>RunLoopType</key>
        <string>NSRunLoop</string>
        <key>JoinExistingSession</key>
        <false/>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 IRL. All rights reserved.</string>
</dict>
</plist>
